<div class="jumbotron">
	<h1>Bienvenue sur edup!</h1>
	<p>Edup réinvente le diplome.</p>
	<p>La plateforme propose des jeux en ligne pour attester des compétences réelles.</p>
	<%= link_to "Démarrer!", questions_path, class: "btn btn-primary btn-lg" %>
</div>